{% extends 'base.html' %} 
{% load static %}
{% block title %}Update Resume - Placement, NITT{% endblock title %} 

{% block body %}
    <div class="container-fluid p-3 fs-6">
        <form action="POST">
            <div class="mb3">
                <label class="form-label">Old Password:</label>
                <input class="form-control" type="password" name="oldpassword" id="oldpassword" />
            </div>
            <div class="mb3">
                <label class="form-label">New Password:</label>
                <input class="form-control" type="password" name="newpassword" id="newpassword" />
            </div>
            <div class="mb3">
                <label class="form-label">Confirm Password:</label>
                <input class="form-control" type="password" name="verifypassword" id="verifypassword" />
            </div>
        </form>
    </div>
{% endblock body %}