
{% load static %}
{% block title %}Profile - Placement, NITT{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="profile-header">
        <div class="profile-options">
            <h4 class="h-4">Welcome, {{user.first_name}}</h4>
            {% if studentDetails %}
            <a href="{% url 'updateDetails' user.pk %}" type="button" class="btn btn-primary" >
                Update Profile
            </a>
            {% else %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateDetailsModal">
                Update Profile
            </button>
            {% endif %}
        </div>
        {% if user.student.profile_pic %}
        <img src="{{ user.student.profile_pic.url }}" class="rounded-circle"  width=75 height=75>
    
        {% else %}
        
        <img src="{% static "img/Bhushan.jpg" %}" alt="No image found!" class="profile-img img-fluid" type="image">
            
        {% endif %}
        
    </div>
    <div class="profile-details table-hover table-responsive">
        <table class="table">
            <thead></thead>
            <tbody>
                {% if studentDetails %}
                {% for item in studentDetails %}
                <tr class="profile-item">
                    <td class="profile-item-label">Roll</td>
                    <td>:</td>
                    <td class="profile-item-content">{{user.username}}</td>
                </tr>
                
                <tr class="profile-item">
                    <td class="profile-item-label">Name</td>
                    <td>:</td>
                    <td class="profile-item-content">{{user.first_name}} {{user.last_name}}</td>
                </tr>

                <tr class="profile-item">
                    <td class="profile-item-label">webmail</td>
                    <td>:</td>
                    <td class="profile-item-content">{{user.email}}</td>
                </tr>
                
                <tr class="profile-item">
                    <td class="profile-item-label">Phone</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.phone}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Gmail</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.personalEmail}}</td>
                </tr>
                
                <tr class="profile-item">
                    <td class="profile-item-label">Gender</td>
                    <td>:</td>
                    <td class="profile-item-content"> {{item.gender}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Dob</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.dob}}</td>
                </tr>
            
                <tr class="profile-item">
                    <td class="profile-item-label">Home Address </td>
                    <td>:</td>
                    <td class="profile-item-content"> {{item.homeAddress}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Local Address</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.localAddress}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Looking For</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.jobType}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Father Name</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.fatherName}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Mother Name</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.motherName}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Guardian Phone</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.guardianPhone}}</td>
                </tr>
                
                <tr class="profile-item">
                    <td class="profile-item-label">Degree Level</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.degreeLevel}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Department</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.currentDept}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Course</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.currentCourse}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">CGPA</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.currentCgpa}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Graduation Year</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.currentCourseGraduationYear}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Class X CGPA/Percentage</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.class10Percentage}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Class XII CGPA/Percentage</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.class12Percentage}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">UG College</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.ugCollege}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">UG Degree</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.ugDegree}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">UG Graduate Year</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.ugGraduationYear}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Resume</td>
                    <td>:</td>
                    <td class="profile-item-content"><a target="_blank" href="{% get_media_prefix %}{{item.resume}}"> {{user.username}}</a></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="updateDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Details</h5> <button type="button"
                        class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- SmartWizard html -->
                    <div id="smartwizard">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#step-1">
                                    <div class="num">1</div>
                                    Personal Details
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#step-2">
                                    <span class="num">2</span>
                                    Academic Details
                                </a>
                            </li>
                        </ul>

                        <form action="{% url 'addAdditionalDetails' %}"  method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="tab-content" style="padding: 1rem;">
                            
                                <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                                    
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email address</label>
                                        <input type="email" name="personalEmail" class="form-control" id="email" placeholder="name@example.com">
                                    </div>
                                    <div class="mb-3">
                                        <label for="gender" class="form-label">Gender</label>
                                        <select class="form-select" name="gender" aria-label="Default select example">
                                            <option selected>Select Gender</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        
                                          </select>
                                    </div>
                                     <div class="mb-3">
                                        <label for="jobType" class="form-label">Looking For</label>
                                        <select class="form-select" name="jobType" aria-label="Default select example">
                                            <option selected>Select </option>
                                            <option value="Intern">Internship</option>
                                            <option value="Placements">Placements</option>
                                          </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="profile-pic"  class="form-label">Profile Picture</label>
                                        <input type="file" name="profile_pic" class="form-control" id="profile-pic">
                                    </div>
                                    <div class="mb-3">
                                        <label for="dob" class="form-label">Date-of-birth</label>
                                        <input type="date"  name="dob" class="form-control" id="dob">
                                    </div>
                                    <div class="mb-3">
                                        <label for="father" class="form-label">Father Name</label>
                                        <input type="text" name="fatherName" class="form-control" id="father" placeholder="Father's Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="mother" class="form-label">Mother Name</label>
                                        <input type="text" name="motherName" class="form-control" id="mother" placeholder="Mother's Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="phone" class="form-label">Phone Number</label>
                                        <input type="tel" name="phone" class="form-control" id="phone" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="gphone" class="form-label">Guardian Number</label>
                                        <input type="tel" name="guardianPhone" class="form-control" id="gphone" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="permAdd" class="form-label">Permanent Address</label>
                                        <input type="text" name="homeAddress" class="form-control" id="permAdd" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="currAdd"  class="form-label">Current Address</label>
                                        <input type="text" name="localAddress" class="form-control" id="currAdd" placeholder="">
                                    </div>
                                </div>

                               
                                <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                                    <div class="mb-3">
                                        <label for="degree" class="form-label">Degree Level</label>
                                        <select class="form-select" name="degreeLevel" aria-label="Default select example">
                                            <option selected>Select Degree</option>
                                            <option value="UG">Under-Graduate</option>
                                            <option value="PG">Post-Graduate</option>
                                          </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="dept" class="form-label">Department</label>
                                        <input type="text" name="currentDept" class="form-control" id="dept" placeholder="Department">
                                    </div>
                                    <div class="mb-3">
                                        <label for="course" class="form-label">Course</label>
                                        <input type="text" name="currentCourse" class="form-control" id="course" placeholder="Course">
                                    </div>
                                    <div class="mb-3">
                                        <label for="cgpa" class="form-label">CGPA</label>
                                        <input type="decimal" name="currentCgpa" class="form-control" id="cgpa" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="grad-year" class="form-label">Graduation Year</label>
                                        <input type="date" name="currentCourseGraduationYear" class="form-control" id="grad-year">
                                    </div>
                                    <div class="mb-3">
                                        <label for="10percent" class="form-label">10th Percentage</label>
                                        <input type="decimal" name="class10Percentage" class="form-control" id="10percent">
                                    </div>
                                    <div class="mb-3">
                                        <label for="12percent" class="form-label">12th Percentage</label>
                                        <input type="decimal" name="class12Percentage" class="form-control" id="12percent">
                                    </div>
                                    <!-- Option only for PG Guys -->
                                    <div class="mb-3">
                                        <label for="ugrad-percent" class="form-label">Graduation Percentage</label>
                                        <input type="decimal" name="ugCgpa" class="form-control" id="ugrad-percent">
                                    </div>
                                    <div class="mb-3">
                                        <label for="ugrad-degree" class="form-label">Graduation Degree</label>
                                        <input type="text" name="ugDegree" class="form-control" id="ugrad-degree">
                                    </div>
                                  
                                    <div class="mb-3">
                                        <label for="ugrad-college" class="form-label">Graduation College</label>
                                        <input type="text" name="ugCollege" class="form-control" id="ugrad-college">
                                    </div>
                                    <div class="mb-3">
                                        <label for="ugrad-year" class="form-label">Graduation Year</label>
                                        <input type="date" name="ugGraduationYear" class="form-control" id="ugrad-year">
                                    </div>
                                    <input class="btn btn-primary form-submit" type="submit" value="Submit">
                                </div>
                                
                                
                            </div>
                        </form>

                        <!-- Include optional progressbar HTML -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}