<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel"
  data-bs-backdrop="false">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Student</h5>
  </div>
  <div class="offcanvas-body">
    <ul class="sidenav-list">
      {% if user.is_authenticated %}

      {% else %}
      <!-- Button to trigger login modal -->
      <ul>
        <button type="button" class="btn mr-2" data-toggle="modal" data-target="#loginModal">
          Login
        </button>
        <!-- Button to trigger singup modal -->
        <button type="button" class="btn mr-2" data-toggle="modal" data-target="#singupModal">
          Sign Up
        </button>
      </ul>
      <li class="sidenav-list-item"><i class="bi bi-person-fill"></i> <a href="#" class="dash-link">Profile</a></li>
      <li class="sidenav-list-item"><i class="bi bi-cloud-upload"></i> <a href="#" class="dash-link">Update Resume</a>
      </li>
      <li class="sidenav-list-item"><i class="bi bi-list-ul"></i> <a href="#" class="dash-link">Companies</a></li>
      <li class="sidenav-list-item"><i class="bi bi-key-fill"></i> <a href="#" class="dash-link">Change Password</a>
      </li>
      <li class="sidenav-list-item"><i class="bi bi-power"></i> <a href="#" class="dash-link">Logout</a></li>
      
      {% comment %} <a class="nav-link" type="button" class="btn btn-danger mr-2"
        href="{% url 'register' %}">Register</a> {% endcomment %}
      {% endif %}
    </ul>
  </div>
</div>